@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin ceter-sb() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin center-se() {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin c-center() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin c-ceter-sb() {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@mixin c-center-se() {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}